.navbar {
    background-color: white;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    border-style: inset;
    border-color: #56cbf9;
    border-width: 10px;
}

#navlink {
    color: #4d5db7;
}

.logout-btn {
    color: #4d5db7;
    background-color: #56cbf9;
}

.small-logo {
    height: 72px;
    width: 72px;
}

.waterlogged-brand { 
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 0;
    padding-left: 0;
}