.navbar {
    background-color: #43c19e;
    padding-top: 0;
    padding-bottom: 0;
}

.small-logo {
    height: 72px;
    width: 72px;
}

.waterlogged-brand { 
    padding-top: 0;
    padding-bottom: 0;
}