
#slogan {
    font-size: 4rem;
    color: #4d5db7;
    text-align: center;
    margin-top: 40px;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    text-align: center;
}

.logo img {
    width: 750px;
    margin-top: 50px;
    padding-top: 0px;
    border-style: inset;
    border-color: #56cbf9;
    border-width: 10px;
}

.google-btn:hover {
    background-color: #c23321;
}

.google-btn {
    width: 330px;
    margin-top: 2rem;
    color: #fff;
    background-color: #dd4b39;
    border-color: rgba(0,0,0,.2);
}

.g-icon {
    font-size: 24;
    margin-right: 10px;
}
