.data-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.graphs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.totals {
    margin-top: 1rem;
}